body{
    margin: 0%;
    background-color: #c3f8f0;
}
.div1{
    float: left;
    padding-left: 25px;
    padding-bottom: 0px;
    
}
.title{
    padding-top: 5px;
    padding-right: 375px;
    font-size: 80px;
    margin-bottom: 0;
}
.div2{
    padding-left: 50px;
    padding-top: 50px;
    float: right;
    background-color: #16C79A;
    padding-right: 50px;
    height: 602px;
    
}
.input{
    background-color: #c3f8f0;
    height: 120px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 200px;
    border-radius: 30px;
    font-size: 18px;
    box-shadow: 5px 5px 10px black;
}
.email_inp{
    padding-left: 10px;
    height: 35px;
    width: 370px;
    border-radius: 15px;
    border: none;
}
.pass_inp{
    padding-left: 10px;
    height: 35px;
    width: 370px;
    border-radius: 15px;
    border: none;

}
.submit_inp{
    background-color: #6BC5D2;
    height: 45px;
    width: 382px;
    border: none;
    border-radius: 15px;

    font-size: 15px;
    cursor: pointer;
}
.submit_inp:hover{
    opacity: 70%;
    transition: 0.3s;
}
.register_con{
    height: 90px;
    padding-right: 15px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #c3f8f0;
    border-radius: 30px;
    box-shadow: 5px 5px 10px black;
}
.reg{
    height: 45px;
    width: 382px;
    border-radius: 15px;
    border: none;
    background-color: #6BC5D2;
    font-size: 15px;
    cursor: pointer;
}
.reg:hover{
    
    transition: 0.3s;
    background-color: rgb(26, 21, 21);
    color: white;
    box-shadow: 5px 5px 10px purple;
}
.cred{
    padding-top: 90px;

}
.img1{
    height: 250px;
    width: 400px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px black;
}
.img1:hover{
    box-shadow: 5px 5px 10px purple;
    transition: 0.3s;
}